target/
node_modules/
.env
*.class
*.jar
node_modules/
frontend/node_modules/
frontend/.cache/
backend/target/
node_modules/
frontend/node_modules/
backend/target/
frontend/node_modules/
frontend/.cache/